<h1 class="text-center text-primary">Sobre</h1>

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-6 font-italic">Gerenciador de Tarefas</h1>
    <p class="lead my-6">Aplicação web desenvolviva para fins acadêmicos com o objetivo de gerenciar uma lista de tarefas.</p>
    <p class="lead my-6">No qual é possível adicionar, selecionar, editar, alterar o estado e excluir os itens da lista de tarefas através de botões de ações.</p>
  </div>
</div>

<footer>
  <p>Desenvolvido por &copy; Paulo Alves</p>
</footer>
