<h1 class="text-center text-primary">Lista de Tarefas</h1>

<div class="campo-pesquisa">
  <div class="form-group row">
    <label for="pesquisa" class="col-sm-2 col-form-label">Pesquisar:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="pesquisar" id="pesquisa" class="form-control">
    </div>
  </div>
</div>

<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col" class="text-center">Tarefa</th>
      <th scope="col" class="text-center">Concluída</th>
      <th scope="col" class="text-center">
        <a [routerLink]="['/tarefas/cadastrar']" class="btn btn-outline-success btn-sm">
          <span><i class="fa fa-plus-square" aria-hidden="true"></i></span>
          Novo
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tarefa of tarefas">
      <td [tarefaConcluida]="tarefa.concluida" [class.table-success]="!tarefa.concluida">
        {{ tarefa.nome }}
      </td>
      <td class="text-center">
        <input type="checkbox" class="chk-concluida" [value]="tarefa.id" [checked]="tarefa.concluida" (click)="alterarStatus(tarefa)">
      </td>
      <td class="btn-acoes">
        <a href="#" title="Editar" [routerLink]="['/tarefas/editar', tarefa.id]"  class="btn btn-outline-info btn-sm">
          <i class="fa fa-pencil-square" aria-hidden="true"></i>
          Editar
        </a>
        &nbsp;
        <a href="#" title="Remover" (click)="remover($event, tarefa)" class="btn btn-outline-danger btn-sm">
          <i class="fa fa-trash" aria-hidden="true"></i>
          Excluir
        </a>
      </td>
    </tr>
  </tbody>
</table>

<p *ngIf="tarefas.length == 0">Nenhuma tarefa cadastrada.</p>

<footer>
  <p class="float-right"><a href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></p>
  <p>Desenvolvido por &copy; Paulo Alves</p>
</footer>
