<h1 class="text-center text-primary">Contato</h1>

<div class="card card-contato text-white">
  <img class="card-img img-contato-background"
    src="https://images.pexels.com/photos/34600/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image">
  <div class="row">
    <div class="card-img-overlay">
      <div class="d-flex justify-content-center">
        <div class="imagem-perfil"></div>
      </div>
      <h3 class="display-4 d-flex justify-content-center">Paulo Alves</h3>
      <p class="card-text d-flex justify-content-center">
        Desenvolvedor Web
      </p>
      <p card-text>
        <small class="form-inline d-flex justify-content-center">
          <p>
            <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5581996103531" target="_blank">
              <i class="fa fa-whatsapp fa-3x icone-background" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/paulo-alves3486" target="_blank">
              <i class="fa fa-linkedin-square fa-3x icone-background" aria-hidden="true"></i>
            </a>
            <a href="mailto:pj38alves@gmail.com" target="_blank">
              <i class="fa fa-envelope fa-3x icone-background" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/PauloAlves8039" target="_blank">
              <i class="fa fa-github-square fa-3x icone-background" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/PauloJunior788" target="_blank">
              <i class="fa fa-twitter-square fa-3x icone-background" aria-hidden="true"></i>
            </a>
          </p>
        </small>
      </p>
    </div>
  </div>
</div>

<footer>
  <p>Desenvolvido por &copy; Paulo Alves</p>
</footer>
